body {
	display: grid;
	justify-content: center;
	font-family: sans-serif; /* Looks like the font might be "Brandon" */
	font-size: 10px;
	color: #3B4140;
}

.rule {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3ch;
	height: 10em;
}

.rule::before, .rule::after {
	display: flex;
	content: " ";
	flex-grow: 1;
	border-bottom: 1px solid #CCCDCC;
}

h1 {
	display: flex;
	justify-content: center;
	gap: 2ch;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1ch; /* Slightly increased kerning */
}

h1::before, h1:not(:empty)::after {
	content: "◆"; /* Add decoration */
	letter-spacing: normal;
}

.container {
	display: grid;
}

main {
	--cell-width: 35.4em;
	--cell-height: 45em;
	--column-count: 3;

	display: grid;
	grid-template-columns: repeat(3, var(--cell-width));
	grid-auto-rows: var(--cell-height);

	column-gap: 4.5em;
	row-gap: 6em;

	padding-bottom: 4em;
}

main > * {
	display: grid;
	position: relative;
}

main > * > img {
	width: 100%;
	height: 100%;
} 

.right {
	justify-self: end;
}

blockquote {
	--blue: #5D7786;
	--orange: #C75C48;

	margin: 0;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--blue);
	width: 28ch;
	align-self: end;
	margin-bottom: 5.56em;
}

blockquote::before {
	content: "“";
	font-size: 6em;
	line-height: 1em;
	position: relative;
	top: .6em;
	color: var(--orange);
}

blockquote .attribution {
	color: var(--orange);
	font-size: .9em;
}

.qa-card {
	--blue: #435063; /* Very low contrast */

	background-color: #5A7483EE;

	justify-content: center;
	align-content: center;

	color: white;
	font-weight: bold;
	text-align: center;

	gap: 1.5em;
}
.qa-card > img {
	position: absolute;
	z-index: -1;
}
.qa-card > *:not(img) {
	margin: 0;
	max-width: 35ch;
}

.qa-card h4 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: .2ch;
}

.qa-card h5 {
	text-transform: small-caps;
	font-size: 1.2em;
	letter-spacing: .3ch;
	color: var(--blue);
}

.qa-card strong {
	color: var(--blue);
}

.text-card {
	background-color: #EEF1F2;
	justify-content: center;
	align-content: center;
	gap: 1.5em;
	padding-bottom: 6em;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	margin: 0;
	letter-spacing: .1ch;
}
h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	letter-spacing: .3ch;
}

.symbol {
	--size: 18em;
	height: var(--size);
	width: var(--size);
	position: absolute;
	bottom: -8.5em;
	right: -11em;
}