body {
	display: grid;
	justify-content: center;
}

.container {
	display: grid;
}

main {
	--cell-width: 354px;
	--cell-height: 450px;
	--column-count: 3;

	display: grid;
	grid-template-columns: repeat(3, var(--cell-width));
	grid-auto-rows: var(--cell-height);

	column-gap: 45px;
	row-gap: 60px;
}

main > * {
	position: relative;
}