/*
 * Base page style, centers a main layout.
 */
body {
	display: grid;
	justify-content: center;
	font-family: sans-serif; /* Looks like the font might be "Brandon" from the website? */
	font-size: 10px;
	color: #3B4140;
}

/* 
 * Applied to a container that has horizonatal
 * rules to the left and right of text 
 */
.rule {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3ch;
	height: 10em;
}

/*
 * Adds a line to the before and after pseudo elements
 * they have no hight, so in a center-aligned flex container
 * they appear as simple line.
 */
.rule::before, .rule::after {
	display: flex;
	content: " ";
	flex-grow: 1;
	border-bottom: 1px solid #CCCDCC;
}

/*
 * This heading has decorations to the left and right
 */
h1 {
	display: flex;
	justify-content: center;
	gap: 2ch;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1ch; /* Slightly increased kerning */
}

/* Skip the after decoration if the heading is empty */
h1::before, h1:not(:empty)::after {
	content: "◆"; /* Add decoration */
	letter-spacing: normal;
}

.container {
	display: grid;
}

/*
 * The primary container for the grid layout
 */
main {
	--cell-width: 35.4em;
	--cell-height: 45em;
	--column-count: 3;

	display: grid;
	grid-template-columns: repeat(3, var(--cell-width));
	grid-auto-rows: var(--cell-height);

	column-gap: 4.5em;
	row-gap: 6em;

	padding-bottom: 4em;
}

/* 
 * For simplicity, make all the cells grids
 * and give them the relative position in case
 * they require absolute children
 */
main > * {
	display: grid;
	position: relative;
}

main > * > img {
	width: 100%;
	height: 100%;
} 

.right {
	justify-self: end;
}


/*
 * Displays a quotation with a large opening quotation
 * mark, and smaller text indicating the source of the quote.
 */
blockquote {
	--blue: #5D7786;
	--orange: #C75C48;

	margin: 0;
	font-size: 1.5em;
	line-height: 2em;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--blue);
	width: 28ch;
	align-self: end;
	margin-bottom: 5.56em;
}

blockquote::before {
	content: "“";
	font-family: serif; /* More rounded shape is closer to mockup */
	font-size: 5.5em;
	line-height: 1em;
	position: relative;
	top: .5em;
	color: var(--orange);
}

blockquote .attribution {
	color: var(--orange);
	font-size: .9em;
}

/*
 * A card with a title, subtitle, question, and answer.
 * All over a blue background, which covers an image.
 */
.qa-card {
	--blue: #435063; /* Very low contrast */

	background-color: #5A7483EE;

	justify-content: center;
	align-content: center;

	color: white;
	font-weight: bold;
	text-align: center;

	gap: 1.5em;
}
.qa-card > img {
	position: absolute;
	z-index: -1;
}
.qa-card > *:not(img) {
	margin: 0;
	max-width: 35ch;
}

.qa-card h4 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: .2ch;
}

.qa-card h5 {
	text-transform: small-caps;
	font-size: 1.2em;
	letter-spacing: .3ch;
	color: var(--blue);
}

.qa-card strong {
	color: var(--blue);
}

.qa-card p {
	line-height: 2em;
}

/*
 * A simple card with two headings, slightly above center.
 */
.text-card {
	background-color: #EEF1F2;
	justify-content: center;
	align-content: center;
	gap: 1.5em;
	padding-bottom: 6em;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3.8em;
	margin: 0;
	letter-spacing: .1ch;
}
h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.9em;
	line-height: 1.5em;
	font-weight: normal;
	margin: 0;
	letter-spacing: .3ch;
}

/*
 * A special symbol positioned slightly off to the
 * bottom right of the card.
 */
.symbol {
	--size: 18em;
	height: var(--size);
	width: var(--size);
	position: absolute;
	bottom: -8.5em;
	right: -11em;
}